@use "./variables" as *;
@use "./mixin" as *;

h1 {
    font-family: $primary-font;
    color: rgb(167, 0, 167);
    margin-bottom: 0;

} 

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}