@use "./variables" as *;
@use "./mixin" as *;

h1 {
    font-family: $primary-font;
    color: rgb(167, 0, 167);
    margin: 0;
    border-top: white 4px solid;
    border-bottom: white 4px solid;
    width: 100%;
    text-align: center;
    vertical-align: center;

} 

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


