@use "./variables" as *;
@use "./mixin" as *;

.cell {
    width: $cell-size;
    height: $cell-size;

    align-self: center;
    justify-self: center;

    font-size: 0.5 * $cell-size;
    text-align: center;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $primary-font;

    &--opened{
        background-color: rgb(172, 172, 172);
    }

    &--unopened {
        background-color: rgb(0, 0, 0);
        p {
            display: none;
        }
    }

    &--flag {
        background-image: url('./data/Minesweeper_flag.svg');
        background-size: $cell-size $cell-size;
    }
    
    &--unopened-end {
        background-color: rgb(80, 80, 80);
    }

    &--mine--end {
        background-image: url("./data/mine.png");
        background-size: $cell-size $cell-size;
    }

    &--0 {
        p {
            visibility: hidden;
        }
    }
    

    &--1 {
        color: blue;
    }

    &--2 {
        color: green;
    }

    &--3 {
        color: red;
    }

    &--4 {
        color:navy;
    }

    &--5 {
        color: maroon;
    }

    &--6 {
        color: #2b8285;
    }

    &--7 {
        color: black;
    }

    &--8 {
        color: rgb(83, 83, 83);
    }
}
