@use "./variables" as *;
@use "./mixin" as *;

.cell {
    width: $cell-size;
    height: $cell-size;

    align-self: center;
    justify-self: center;

    font-size: 0.8 * $cell-size;
    text-align: center;

    &--opened{
        background-color: grey;
    }

    &--unopened {
        background-color: black;
        div {
            display: none;
        }
    }

    &--flagged {
        background-color: red;
    }
    
    &--unopened-end {
        background-color: white;
    }
    

    // &--1 {
    //     color: blue;
    // }

    // &--2 {
    //     color: green;
    // }

    // &--3 {
    //     color: red;
    // }

    // &--4 {
    //     color:navy;
    // }

    // &--5 {
    //     color: maroon;
    // }

    // &--6 {
    //     color: #2b8285;
    // }

    // &--7 {
    //     color: black;
    // }

    // &--8 {
    //     color: rgb(83, 83, 83);
    // }
}

