@use "./variables" as *;
@use "./mixin" as *;

.settings {
    color:white;
    display:flex;
    flex-direction: column;

    &__heading {
        font-size: 20px;
        font-family: $primary-font;
        color: blue;
        border-bottom: white 4px solid;
    }
    

    &__option {
        border: white 4px solid;
        margin: 5px;
        width: 120px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        font-weight: bold;

        * {
            margin: 0px;
        }

        &:hover {
            border: blue 4px solid;
        }

        &__selected {
            border: red 4px solid;

            .settings__custom-settings {
                display: flex;
                width: 100%;
                justify-content: space-around;


                * {
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 12px;
                    width: 30px;
                    text-align: center;
                }
            }
        }
    }

    &__size {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__difficulty {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__custom-settings {
        display: none;
    }

    &__start {
        padding:5px;
        margin: 20px;
        font-size: 20px;
        align-self: flex-end;
        background-color: black;
        color: white;
        border: 4px green solid;
        font-family: $primary-font;

        &:hover {
            border: 4px blue solid;
        }

    }
}